@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono&display=swap');

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background: #1a1a1a;
    color: #ffffff;
}

h1 {
    color: #000000;
    font-size: 70px;
    text-align: center;
    -webkit-text-stroke: 3px #ffffff;
}

pre {
    font-size: 18px;
}